#intro{
    background-color:red;
}



#today{
    background-color: aqua;
}



#menu{
    background-color:blue;
}



#subscribe{
    background-color:purple;
}


#visit{
    background-color:yellow;
}



footer{
    background-color:black;
    color:white;
}

